body{
	background-color:white;
}

div#wrapper{
	width:960px;
	background-color:red;
}

div#header{
	width:960px;
	height:120px;
	background-color:blue;
}

div#nav{
	width:960px;
	height:30px;
	background-color:green;
}

div#nav a, div#leftnav li a{
	color:white;
	padding:8px;
	text-decoration:none;
}

div#nav a:hover{
	color:white;
	background-color:blue;
	padding:8px;
	text-decoration:none;
	font-weight:bolder;
}

div#leftnav{
	width:260px;
	float:left;
	background-color:purple;
}

div#content{
	width:700px;
	height:400px;
	float:left;
	background-color:white;
}

div#footer{
	clear:both;
	width:960px;
	height:60px;
	background-color:gray;
}

th, td{
	padding:10px;
	text-align:center;
}

table#studPreviewTblId{
	background-color:silver;
	font-weight:bolder;
	border-width:solid;
	display:none;
}

#submitBtnDivId{
	display:none;
	border-style:none;
	width:65px;
	float:left;
}

table#listOfCoursesTblId{
	border-style:solid;
	align:left;
}