div.textInputDivClass{
	border-style:none;
	width:184px;
	padding-bottom:10px;
}

.textInputFieldClass{
	width:180px;
	border-style:solid;
	border-color:blue;
}

label.textInputLabelClass{
	background-color:blue;
	padding-left:5px;
	padding-right:10px;
	color:white;
	font-weight:bolder;
}

div.formContentDivClass{
	border-style:solid;
	padding:20px;
	width:200px;
	margin:auto;
	margin-top:30px;
}

.buttonClass{
	background-color: blue;
	color:white;
	font-weight:bolder;
	border-style:solid;
	border-color:black;
}

.highlight{
	background-color:blue;
}

